<% include header %>
<section id="index">
    <h1>File Metadata Microservice</h1>
    <main id="form">
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="fileUpload" id="file">
            <input type="submit" value="Upload" id="upload">
        </form>
        <p class="hidden">Please Select a File.</p>
    </main>
</section>
<script>
    var fileSize = <%= fileSize %>;
    if(fileSize){
        alert("File Size: " + fileSize);
    }
</script>
<% include footer %>